# SPDX-License-Identifier: GPL-2.0+

menu "Interrupt controller driver"

config DRIVER_CLIC
	bool "Core-local interrupt controller support"
	depends on ARCH_RISCV32_CORE_E907

config DRIVER_GIC
	bool "Generic interrupt controller support"
	depends on ARCH_ARM32

choice
	prompt "Interrupt controller driver log level"
	default DRIVER_INTC_LOG_TRACE if BUILD_TRACE
	default DRIVER_INTC_LOG_DEBUG if BUILD_DEBUG
	default DRIVER_INTC_LOG_GLOBAL
	depends on DRIVER_CLIC || DRIVER_GIC

config DRIVER_INTC_LOG_GLOBAL
	bool "Inherit global log level"

config DRIVER_INTC_LOG_MUTE
	bool "Mute"

config DRIVER_INTC_LOG_ERROR
	bool "Error"

config DRIVER_INTC_LOG_WARNING
	bool "Warning"

config DRIVER_INTC_LOG_INFO
	bool "Info"

config DRIVER_INTC_LOG_DEBUG
	bool "Debug"

config DRIVER_INTC_LOG_TRACE
	bool "Trace"

config DRIVER_INTC_LOG_BACKTRACE
	bool "Backtrace"

endchoice

endmenu
