/.config
/.config.old
/.obj/
/.kconfig/
/build/
/docs/api/
/defconfig
/include/config/
/include/generated/
/scripts/kconfig/conf
/scripts/kconfig/mconf
/scripts/kconfig/*.o
/scripts/kconfig/*.d
/scripts/kconfig/lexer.lex.c
/scripts/kconfig/parser.tab.c
/scripts/kconfig/parser.tab.h
/scripts/kconfig/mconf-cflags
/scripts/kconfig/mconf-libs
/tools/mksunxi
/tools/bin2array
/tools/bin2asm
boards/*/load_c906/c906_firmware/build/
