# SPDX-License-Identifier: GPL-2.0+

menu "SID driver"

config DRIVER_SID
	bool "Security ID controller support"

choice
	prompt "SID driver log level"
	default DRIVER_SID_LOG_TRACE if BUILD_TRACE
	default DRIVER_SID_LOG_DEBUG if BUILD_DEBUG
	default DRIVER_SID_LOG_GLOBAL
	depends on DRIVER_SID

config DRIVER_SID_LOG_GLOBAL
	bool "Inherit global log level"

config DRIVER_SID_LOG_MUTE
	bool "Mute"

config DRIVER_SID_LOG_ERROR
	bool "Error"

config DRIVER_SID_LOG_WARNING
	bool "Warning"

config DRIVER_SID_LOG_INFO
	bool "Info"

config DRIVER_SID_LOG_DEBUG
	bool "Debug"

config DRIVER_SID_LOG_TRACE
	bool "Trace"

config DRIVER_SID_LOG_BACKTRACE
	bool "Backtrace"

endchoice

endmenu
