# SPDX-License-Identifier: GPL-2.0+
CONFIG_BUILD_RELEASE=y
CONFIG_OPTIMIZE_FOR_SIZE=y
CONFIG_APP_SRAM=y
CONFIG_ARCH_ARM32=y
CONFIG_CPU_ARMV8=y
CONFIG_ARCH_MINSTACK=y
CONFIG_BACKTRACE_MIN=y
CONFIG_ARCH_ICACHE=y
CONFIG_SYS_BOARD="longanpi-3h"
CONFIG_SPL_BIN_TEXT_BASE=0x00020000
CONFIG_SPL_BIN_MAX_SIZE=0x00020000
CONFIG_SPL_FEL_TEXT_BASE=0x00028000
CONFIG_SPL_FEL_MAX_SIZE=0x00020000
CONFIG_DRIVER_CLK=y
CONFIG_DRIVER_DMA=y
CONFIG_DRIVER_GPIO_V1=y
CONFIG_DRIVER_I2C=y
CONFIG_DRIVER_MTD=y
CONFIG_DRIVER_MTD_SPI_NOR=y
CONFIG_DRIVER_PMIC_AXP=y
CONFIG_DRIVER_PWM=y
CONFIG_DRIVER_DRAM=y
CONFIG_DRIVER_RTC=y
CONFIG_DRIVER_MMC=y
CONFIG_DRIVER_SERIAL=y
CONFIG_DRIVER_SID=y
CONFIG_DRIVER_SPI=y
CONFIG_BOARD_LONGANPI_3H=y
