# SPDX-License-Identifier: GPL-2.0+
CONFIG_BUILD_RELEASE=y
CONFIG_OPTIMIZE_FOR_SIZE=y
CONFIG_EFEX=y
CONFIG_ARCH_ARM32=y
CONFIG_CPU_ARMV8_2=y
CONFIG_BACKTRACE_MIN=y
CONFIG_ARCH_DCACHE=y
CONFIG_ARCH_ICACHE=y
CONFIG_SPL_FEL_TEXT_BASE=0x00020000
CONFIG_SPL_FEL_MAX_SIZE=0x00020000
CONFIG_DRIVER_CLK=y
CONFIG_DRIVER_GPIO_V2_POW=y
CONFIG_DRIVER_I2C=y
CONFIG_DRIVER_PMIC_AXP=y
CONFIG_DRIVER_DRAM=y
CONFIG_DRIVER_REMOTEPROC=y
CONFIG_DRIVER_SERIAL=y
CONFIG_CLI_HEAP_STORAGE=y
CONFIG_FATFS_LFN_HEAP=y
CONFIG_EFEX_SOC_SUN55IW3=y
