// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include <dt-bindings/gpio/sunxi-gpio.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "TLT153 MiniEVM";
	compatible = "syterkit,tlt153-minievm";

	aliases {
		dma0 = &dma0;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = &uart0;
	};

	pinctrl {
		spi0_pins: spi0-pins {
			allwinner,pins =
				<SUNXI_GPIO_PORT_C 1 3>,
				<SUNXI_GPIO_PORT_C 0 3>,
				<SUNXI_GPIO_PORT_C 2 3>,
				<SUNXI_GPIO_PORT_C 3 3>,
				<SUNXI_GPIO_PORT_C 4 3>,
				<SUNXI_GPIO_PORT_C 5 3>;
		};

		uart0_pins: uart0-pins {
			allwinner,pins =
				<SUNXI_GPIO_PORT_B 9 2>,
				<SUNXI_GPIO_PORT_B 10 2>;
		};
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		dma0: dma-controller@3001000 {
			compatible = "allwinner,sunxi-dma";
			reg = <0x03001000 0x1000>;
			#dma-cells = <1>;
			allwinner,mbus-clock-gate = <0x020025e0 0>;
			allwinner,clock-gate = <0x02002704 0>;
			allwinner,reset = <0x02002704 16>;
			status = "okay";
		};

		spi0: spi@4025000 {
			compatible = "allwinner,sunxi-spi";
			allwinner,spi-id = <0>;
			reg = <0x04025000 0x1000>;
			clock-frequency = <100000000>;
			allwinner,module-clock = <0x02002f00 2 8 300000000 0>;
			allwinner,clock-gate = <0x02002f04 0>;
			allwinner,reset = <0x02002f04 16>;
			dmas = <&dma0 22>;
			dma-names = "rx";
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_pins>;
			status = "okay";
		};

		uart0: serial@2600000 {
			compatible = "allwinner,sunxi-uart";
			reg = <0x02600000 0x400>;
			current-speed = <115200>;
			clock-frequency = <24000000>;
			allwinner,uart-id = <0>;
			allwinner,clock-gate = <0x02002e00 0>;
			allwinner,reset = <0x02002e00 16>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_pins>;
			status = "okay";
		};
	};
};
