# SPDX-License-Identifier: GPL-2.0+

menu "USB driver"

config DRIVER_USB
	bool "USB host detection support"
	depends on DRIVER_GIC || DRIVER_CLIC

choice
	prompt "USB driver log level"
	default DRIVER_USB_LOG_TRACE if BUILD_TRACE
	default DRIVER_USB_LOG_DEBUG if BUILD_DEBUG
	default DRIVER_USB_LOG_GLOBAL
	depends on DRIVER_USB

config DRIVER_USB_LOG_GLOBAL
	bool "Inherit global log level"

config DRIVER_USB_LOG_MUTE
	bool "Mute"

config DRIVER_USB_LOG_ERROR
	bool "Error"

config DRIVER_USB_LOG_WARNING
	bool "Warning"

config DRIVER_USB_LOG_INFO
	bool "Info"

config DRIVER_USB_LOG_DEBUG
	bool "Debug"

config DRIVER_USB_LOG_TRACE
	bool "Trace"

config DRIVER_USB_LOG_BACKTRACE
	bool "Backtrace"

endchoice

endmenu
