# SPDX-License-Identifier: GPL-2.0+

menu "Board selection"

choice
	prompt "Target board"
	optional

source "$(BOARD_KCONFIG_LIST)"

endchoice

config SYS_BOARD
	string "Board source directory"

config SPL_BIN_TEXT_BASE
	hex "Binary image load address"

config SPL_BIN_MAX_SIZE
	hex "Binary image maximum size"

config SPL_FEL_TEXT_BASE
	hex "FEL image load address"

config SPL_FEL_MAX_SIZE
	hex "FEL image maximum size"

endmenu
