# SPDX-License-Identifier: GPL-2.0+

menu "Board selection"
	depends on APP_SRAM || APP_DRAM

choice
	prompt "Target board"
	optional

source "$(BOARD_KCONFIG_LIST)"

endchoice

config SYS_BOARD
	string "Board source directory"

endmenu
