// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include <dt-bindings/gpio/sunxi-gpio.h>
#include <dt-bindings/pwm/sunxi-pwm.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "Avaota F1";
	compatible = "syterkit,avaota-f1";

	aliases {
		dma0 = &dma0;
		i2c0 = &i2c0;
		pwm0 = &pwm0;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = &uart0;
	};

	pinctrl {
		spi0_pins: spi0-pins {
			allwinner,pins =
				<SUNXI_GPIO_PORT_C 10 3>,
				<SUNXI_GPIO_PORT_C 9 3>,
				<SUNXI_GPIO_PORT_C 8 3>,
				<SUNXI_GPIO_PORT_C 11 3>,
				<SUNXI_GPIO_PORT_C 6 3>,
				<SUNXI_GPIO_PORT_C 7 3>;
		};

		i2c0_pins: i2c0-pins {
			allwinner,pins =
				<SUNXI_GPIO_PORT_A 3 4>,
				<SUNXI_GPIO_PORT_A 4 4>;
		};

		pwm0_pins: pwm0-pins {
			allwinner,pins =
				<SUNXI_GPIO_PORT_D 1 5>,
				<SUNXI_GPIO_PORT_D 2 5>,
				<SUNXI_GPIO_PORT_D 3 5>,
				<SUNXI_GPIO_PORT_D 4 5>;
		};

		uart0_pins: uart0-pins {
			allwinner,pins =
				<SUNXI_GPIO_PORT_L 4 3>,
				<SUNXI_GPIO_PORT_L 5 3>;
		};
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		dma0: dma-controller@43002000 {
			compatible = "allwinner,sunxi-dma";
			reg = <0x43002000 0x1000>;
			#dma-cells = <1>;
			allwinner,mbus-clock-gate = <0x42001088 2>;
			allwinner,clock-gate = <0x42001080 9>;
			allwinner,reset = <0x42001090 9>;
			status = "okay";
		};

		spi0: spi@44025000 {
			compatible = "allwinner,sunxi-spi";
			allwinner,spi-id = <0>;
			reg = <0x44025000 0x1000>;
			clock-frequency = <100000000>;
			allwinner,module-clock = <0x4200101c 1 16 307200000 2>;
			allwinner,clock-gate = <0x42001084 4>;
			allwinner,reset = <0x42001094 4>;
			dmas = <&dma0 22>;
			dma-names = "rx";
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_pins>;
			status = "okay";
		};

		i2c0: i2c@42502000 {
			compatible = "allwinner,sunxi-i2c";
			reg = <0x42502000 0x400>;
			clock-frequency = <400000>;
			allwinner,i2c-id = <0>;
			allwinner,parent-clock-frequency = <192000000>;
			allwinner,clock-gate = <0x42001080 14>;
			allwinner,reset = <0x42001090 14>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_pins>;
			status = "okay";
		};

		pwm0: pwm@42000c00 {
			compatible = "allwinner,sunxi-pwm";
			reg = <0x42000c00 0x400>;
			#pwm-cells = <3>;
			allwinner,pwm-id = <0>;
			clock-frequency = <40000000>;
			allwinner,apb-clock-frequency = <384000000>;
			allwinner,clock-gate = <0x42001080 13>;
			allwinner,reset = <0x42001090 13>;
			allwinner,channel-config =
				<0 SUNXI_PWM_CHANNEL_SINGLE 0 0>,
				<1 SUNXI_PWM_CHANNEL_SINGLE 0 0>,
				<2 SUNXI_PWM_CHANNEL_BIND 3 4000>,
				<3 SUNXI_PWM_CHANNEL_BIND 2 4000>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm0_pins>;
			status = "okay";
		};

		uart0: serial@42500000 {
			compatible = "allwinner,sunxi-uart";
			reg = <0x42500000 0x400>;
			current-speed = <115200>;
			clock-frequency = <192000000>;
			allwinner,uart-id = <0>;
			allwinner,clock-gate = <0x42001080 15>;
			allwinner,reset = <0x42001090 15>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_pins>;
			status = "okay";
		};
	};
};
