# SPDX-License-Identifier: GPL-2.0+
CONFIG_BUILD_RELEASE=y
CONFIG_OPTIMIZE_FOR_SIZE=y
CONFIG_ARCH_ARM32=y
CONFIG_CPU_ARMV8_2=y
CONFIG_BACKTRACE_MIN=y
CONFIG_ARCH_DCACHE=y
CONFIG_ARCH_ICACHE=y
CONFIG_SYS_BOARD="avaota-a1"
CONFIG_SPL_BIN_TEXT_BASE=0x00044000
CONFIG_SPL_BIN_MAX_SIZE=0x00018000
CONFIG_SPL_FEL_TEXT_BASE=0x00020000
CONFIG_SPL_FEL_MAX_SIZE=0x00020000
CONFIG_DRIVER_CLK=y
CONFIG_DRIVER_DMA=y
CONFIG_DRIVER_GPIO_V2=y
CONFIG_DRIVER_I2C=y
CONFIG_DRIVER_MMC=y
CONFIG_DRIVER_MTD=y
CONFIG_DRIVER_PMIC_AXP=y
CONFIG_DRIVER_PWM=y
CONFIG_DRIVER_DRAM=y
CONFIG_DRIVER_REMOTEPROC=y
CONFIG_DRIVER_RTC=y
CONFIG_DRIVER_SERIAL=y
CONFIG_DRIVER_SID=y
CONFIG_DRIVER_SPI=y
CONFIG_FATFS_CACHE=y
CONFIG_BOARD_AVAOTA_A1=y
