# SPDX-License-Identifier: GPL-2.0+
CONFIG_BUILD_RELEASE=y
CONFIG_OPTIMIZE_FOR_SIZE=y
CONFIG_EFEX=y
CONFIG_ARCH_RISCV32=y
CONFIG_ARCH_CPU_E907=y
CONFIG_BACKTRACE_MIN=y
CONFIG_SPL_FEL_TEXT_BASE=0x02000000
CONFIG_SPL_FEL_MAX_SIZE=0x00020000
CONFIG_DRIVER_CLK=y
CONFIG_DRIVER_GPIO_V2=y
CONFIG_DRIVER_DRAM=y
CONFIG_DRIVER_SERIAL=y
CONFIG_EFEX_SOC_SUN300IW1=y
