name: CMake Common Build

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup env
      run: sudo apt-get update && sudo apt-get install -y gcc-arm-none-eabi gcc-arm-linux-gnueabihf gcc-arm-linux-gnueabi g++-arm-linux-gnueabi g++-arm-linux-gnueabihf build-essential libncurses5-dev zlib1g-dev gawk flex bison quilt libssl-dev xsltproc libxml-parser-perl mercurial bzr ecj cvs unzip lsof

    - name: Install RV64 Toolchain
      run: |
        wget https://occ-oss-prod.oss-cn-hangzhou.aliyuncs.com/resource//1751370399722/Xuantie-900-gcc-elf-newlib-x86_64-V3.2.0-20250627.tar.gz
        tar -xf Xuantie-900-gcc-elf-newlib-x86_64-V3.2.0-20250627.tar.gz
    
    - name: Install gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi Toolchain
      run: |
        wget http://releases.linaro.org/components/toolchain/binaries/7.2-2017.11/arm-linux-gnueabi/gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi.tar.xz
        tar -xf gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi.tar.xz

    - name: Find and build CMake files
      run: |
        export RISCV_ROOT_PATH=${{github.workspace}}/Xuantie-900-gcc-elf-newlib-x86_64-V3.2.0/bin/
        export LINARO_GCC_721_PATH=${{github.workspace}}/gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi/bin/
        find ./cmake/board/ -name "*.cmake" -type f | while read file; do
          cmake -B ${{github.workspace}}/build-$(basename "$file") -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_BOARD_FILE=$(basename "$file")
          cmake --build ${{github.workspace}}/build-$(basename "$file") --config ${{env.BUILD_TYPE}}
        done
